      #header,
      #nav,
      .article,

      body {
        color: #666666;
        background-color: #f9f8f6;
        background-image: url("https://i.imgur.com/px0ic4P.jpg");
        background-position: center;
        font-family: Georgia, Times, serif;
        line-height: 1.4em;
        margin: 0px;
      }
			/* Style the top navigation bar */
				.topnav {
  			overflow: hidden;
  			background-color: white;

				}

/* Style the topnav links */
				.topnav a {
 				 float: left;
 				 display: block;
  			 color: black;
  			text-align: center;
  		  padding: 14px 16px;
  		  text-decoration: none;
        font-family:Trebuchet MS;
				
			  }

/* Change color on hover */
				.topnav a:hover {
 				 background-color: lightgrey;
 				 color: black;
				}




