      #header,
      .courses,
      #footer,
      #sidebar,
      #nav,
      .article,
      figure,
      figcaption {
        display: block;
      }

      body {
        color: #666666;
        background-color: #f9f8f6;
        background-image: url("https://i.imgur.com/px0ic4P.jpg");
        background-position: center;
        font-family: Georgia, Times, serif;
        line-height: 1.4em;
        margin: 0px;
      }

      .wrapper {
        width: 940px;
        margin: 20px auto 20px auto;
        border: 2px solid #000000;
        background-color: #ffffff;
      }

      #header {
        height: 160px;
        background-image: url("https://i.imgur.com/4rcWA3C.jpg");
      }



      figure {
        float: left;
        width: 290px;
        height: 220px;
        padding: 5px;
        margin: 20px;
        border: 1px solid #eeeeee;
      }

      figcaption {
        font-size: 90%;
        text-align: left;
      }



